{% extends "base.html" %}

{% block title %}Home - My Flask App{% endblock %}

{% block content %}
    <h1 class= "title">Welcome to My Flask App</h1>
    <p>This is the homepage.</p>

    <form action="/" method="POST">
        <label for="user_input">Enter Prompt Here:</label>
        <input type="text" id="user_input" name="user_input">
        <button type="submit">Submit</button>
    </form>

    {% if submitted_text %}
        <p><span>Prompt:</span> <span class="submitted-text">{{ submitted_text }}</span></p>
    {% endif %}

{% endblock %}
