{% extends "base.html" %}

{% block title %}Home - My Flask App{% endblock %}

{% block content %}
    <h1 class= "title">Welcome to My Flask App</h1>
    <p>This is the homepage.</p>

    <form action="/" method="POST">
        <label for="user_input">Enter Your Name:</label>
        <input type="text" id="user_name" name="user_name">
        <br>
         <label for="user_input">Enter Your Current or Previous Classes:</label>
        <input type="text" id="user_classes" name="user_classes">

        <button type="submit">Submit</button>
    </form>

    {% if submitted_name and submitted_classes %}
        <p><span>Name:</span> <span class="submitted-text">{{ submitted_name }}</span></p>
        <p><span>Current/Previous Classes:</span> <span class="submitted-text">{{ submitted_classes }}</span></p>
    {% endif %}

{% endblock %}
